//  Copyright 2014 IBM
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.

extends ../../layout
block content
  h1 Register a new topology 
  script(type='text/javascript').
    $( document ).ready(function() {
      console.log( "ready!" );
      $('#div_provider').show();
               $.ajax({
               url: "/api/v1/providers/",
               type: "GET",
               success: function( json ) {
                 var option_string='';
                 json.forEach( function(provider){
                 option_string=option_string+'<option value="' +provider._id+'">'+provider.name+'</option>';
                 });
                 if(option_string=='')
                     alert( "please define the topology providers first!" );
                 $('#div_provider select').html(option_string); 
               },
               error: function( xhr, status, errorThrown ) {
                 alert( "Sorry, there was a problem to get providers!" );
                 console.log( "Error: " + errorThrown );
                 console.log( "Status: " + status );
               }
             });//ajax
    });//ready

  form.form-horizontal(method='post', action='/topology/topologies')
    fieldset
      legend Register a topology
      div.clearfix
        div.input 
          div.row 
            div.span3
              p name 
            div
              input.span6(name='topology[name]')
          div.row(id="div_provider")
            div.span3
              p Provider 
            div
              select(name='topology[providerRef]')
          div.row
            div.span3
              p TopologyDocument
            div
              textarea.span6(name='topology[topologyDocument]', rows=20, class='xlarge')    
          div.row
            div.span3
              p Process Template
            div
              textarea.span6(name='topology[appProcessTemplate]', rows=20, class='xlarge')                    
          div.row
            div.span3
              p referenceURL
            div
              input.span6(name='topology[referenceURL]')
          div.row
            div.span3
              p description
            div
              input.span6(name='topology[description]')

        div.actions
          div.row
            input.offset3(type='submit', value='Save', class='btn primary')
            button.offset1(type='reset', class='btn') Cancel


