//  Copyright 2014 IBM
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.

extends ../../layout
block content
  h1 Create a new pool
  script(type='text/javascript').
    $( document ).ready(function() {
      console.log( "ready!" );
      $('#div_parent').hide();
      $('#div_stream').hide();
      $('#div_topology').show();
      $('#select_type').change(function(){
        if($('#select_type').val()=='noapp'){
          $('#div_parent').hide();
          $('#div_stream').hide();
          $('#div_topology').show();
        } else {
          $('#div_parent').show();
          $('#div_stream').show();
          $('#div_topology').hide();
               $.ajax({
               url: "/api4gui/v1/buildstreams/",
               type: "GET",
               success: function( json ) {
                 var option_string='';
                 json.forEach( function(stream){
                 option_string=option_string+'<option>'+stream.buildStream+'</option>';
                 });
                 $('#div_stream select').html(option_string); 
               },
               error: function( xhr, status, errorThrown ) {
                 alert( "Sorry, there was a problem to get build streams!" );
                 console.log( "Error: " + errorThrown );
                 console.log( "Status: " + status );
               }
             });//ajax
               $.ajax({
               url: "/api4gui/v1/topology/pools/",
               type: "GET",
               success: function( json ) {
                 var option_string='';
                 json.forEach( function(pool){
                   if(pool.type=='noapp') 
                     option_string=option_string+'<option value="' +pool._id+'">'+pool.name+'</option>';
                 });
                 $('#div_parent select').html(option_string); 
               },
               error: function( xhr, status, errorThrown ) {
                 alert( "Sorry, there was a problem to get no app pools!" );
                 console.log( "Error: " + errorThrown );
                 console.log( "Status: " + status );
               }
             });//ajax
        }
      });
    });//ready
   
  form.form-horizontal(method='post', action='/topology/pools')
    fieldset
      legend Create a pool for topology
      div.clearfix
        div.input 
          div.row 
            div.span3
              p name 
            div
              input.span6(name='pool[name]')
          div.row
            div.span3
              p description
            div
              input.span6(name='pool[description]') 
          div.row
            div.span3
              p Type
            div
              select(name='pool[type]', id="select_type")
                option(value="noapp") noapp 
                option(value="app") app
          div.row(id="div_parent")
            div.span3
              p Parent Pool
            div
              select(name='pool[parentPool]')
          div.row(id="div_stream")
            div.span3
              p Attached Stream
            div
              select(name='pool[attachedStream]')
          div.row(id="div_topology")
            div.span3
              p Topology
            div
              select.span3(name='pool[topologyRef]')
                each topology in topdocs
                  option(value='#{topology.id}') #{topology.name}
          div.row
            div.span3
              p poolMinAvailable
            div
              input.span3(name='pool[poolMinAvailable]')
          div.row
            div.span3
              p poolMaxTotal
            div
              input.span3(name='pool[poolMaxTotal]')

        div.actions 
          div.row
            input.offset3(type='submit', value='Save', class='btn primary')
            button.offset1(type='reset', class='btn') Cancel


