//  Copyright 2014 IBM
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.

nav.navbar.navbar-inverse.navbar-fixed-top(id="top-navbar", role="navigation")
	div.container-fluid
		div.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/") Home
		div.collapse.navbar-collapse(id="navbar-collapse-1")
			ul.nav.navbar-nav
				li(id="nav-links-pools")
					a(href="/pools") Pools
				li.dropdown
					a.dropdown-toggle(id="nav-links-settings", href="#", data-toggle="dropdown", role="button", aria-expanded="false")
						= 'Settings '
						span.caret
						ul.dropdown-menu(role="menu")
							li(id="nav-links-providers")
								a(href="/settings/providers") Providers
							li.divider
							li(id="nav-links-users")
								a(href="/users") Users
			ul.nav.navbar-nav.navbar-right
				li(id="header-links-jazzhub")
					a(href="https://hub.jazz.net/project/rjminsha/leanJazz/overview") Jazzhub Project
				li(id="header-links-gitgub")
					a(href="https://github.com/CLMDev/leanJazz") Github Project
				li(id="nav-links-logout")
					a(href="/logout") Logout
