//  Copyright 2014 IBM
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.

div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="#")
                | leanJazz 
            div.nav-collapse.collapse
                ul.nav
                    li.active
                        a(href='https://hub.jazz.net/project/rjminsha/CLMAutoDev/overview') Jazzhub Project
                    li
                        a(href='https://github.com/rjminsha/CLMAutoDev') Github Project
div.navbar.navbar-inverse
 div.navbar-inner
  div.container
   ul.nav
    li
      a(href="/topology/topologies/") Topologies
    li
      a(href="/topology/pools/") Pools
    li
     a(href="/buildstreams/") Build Streams
    li
     a(href="/builds/") Builds
    li
      a(href="#") Users 
div
